

<body>
    <div class="container">
        <h1 style="color: blue">Bad jokes</h1>
        <br><br>
 
        <div class="row">
            <div class="col-sm-8">
                <table >
                    <tr>
                        <th style="color: darkblue; padding-bottom: 10pt; font-size: large;" >All jokes are listed here</th></tr>
                        <% for (var i=0; i<jokes.length; i++) { %>
                            <% if (jokes[i].joke.includes('Norris')) { %>
                                <tr>
                                    <td style="padding-bottom:5pt; padding-top: 5pt; "><b style="color: rgb(247, 47, 47)">Warning! Really bad joke!</b> <%=jokes[i].joke %></td>
                                </tr>
                         <%   } else { %>
                    <tr>
                        <td style="padding-bottom:5pt; padding-top: 5pt;"><%=jokes[i].joke %></td>
                    </tr>
                    <% }}; %>
                </table>
            </div>
        </div>
    </div>
</body>